{% extends 'blog/base.html' %}

{% load static %}
    
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <main class="blog-post col-lg-8">
            <div class="container">
                <div class="post-single">
                    <div class="add-comment">
                        <header>
                            <h2>Change Password Here</h2>
                        </header>
                        <form method="POST">
                            {% csrf_token %}
                            <div class="row">
                                {% for message in messages %}
                                <div class="alert alert-danger form-group col-md-12" role="alert">
                                    {{message}}
                                </div>
                                <div class="col-md-12"></div>
                                {% endfor %}
                                <div class="col-md-12"></div>
                                <div style="padding-top: 15px;"  class="form-group col-md-3 align-self-end">
                                    <label for="old-password"><h5>Old Password</h5></label>
                                </div>
                                <div class="form-group col-md-6">
                                    <input style="font-size: 20px;" id="old-password" type="password" name="old-password" placeholder="Old Password" class="form-control" autocomplete="off" required>
                                </div>
                                <div class="col-md-12"></div>
                                <div style="padding-top: 15px;" class="form-group col-md-3">
                                    <label for="password"><h5>Password</h5></label>
                                </div>
                                <div class="form-group col-md-6">
                                    <input style="font-size: 20px;" id="password" type="password" name="password" placeholder="Password" class="form-control" autocomplete="off"  required>
                                    {% for passwordValidation in passwordValidations %}
                                    <small class="form-text text-muted">{{passwordValidation}}</small>
                                    {% endfor %}
                                </div>
                                <div class="col-md-12"></div>
                                <div style="padding-top: 15px;"  class="form-group col-md-3 align-self-end">
                                    <label for="rpassword"><h5>Password(again)</h5></label>
                                </div>
                                <div class="form-group col-md-6">
                                    <input style="font-size: 20px;" id="rpassword" type="password" name="rpassword" placeholder="Password(again)" class="form-control" autocomplete="off"  required>
                                </div>
                                <div class="col-md-12"><br></div>
                                <div class="form-group col-6">
                                    <button style="width: 180px;" type="submit" class="btn btn-outline-dark">Change</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
{% endblock content %}
