{% extends 'blog/base.html' %}

{% load static %}


{% block home_page_header %}
  active
{% endblock home_page_header %}
  

{% block content %}
  
<!-- Hero Section-->
<section style="background: url({% static 'img/hero.jpg' %}); background-size: cover; background-position: center center" class="hero">
  <div class="container">
    <div class="row">
      <div class="col-lg-7">
        <h1>Thought Share - A place to let it out.</h1>
      </div>
    </div><a href=".intro" class="continue link-scroll"><i class="fa fa-long-arrow-down"></i> Scroll Down</a>
  </div>
</section>
<!-- Intro Section-->
<section class="intro">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <h2 class="h3">What is ThoughtShare</h2>
        <p class="text-big">It is a <strong> community</strong> where The happy rejoices, The sad vents, The angry lashes out, The intelligent teaches, The curious learns. 
         There are no bounds, there are no restrictions and finally there are no judgement.  
          You can be either getting or letting go.</p>
      </div>
    </div>
  </div>
</section>
<section class="featured-posts no-padding-top">
  <div class="container">
    <!-- Post-->
    <div class="row d-flex align-items-stretch">
      <div class="text col-lg-7">
        <div class="text-inner d-flex align-items-center">
          <div class="content">
            <header class="post-header">
              <div class="category"><a href="#">{{top_posts.0.category}}</a><a href="{% url 'post' top_posts.0.id %}">
                <h2 class="h4">{{top_posts.0.title}}</h2></a>
            </header>
            <p>{{top_posts.0.description|truncatechars:200}}</p>
            <footer class="post-footer d-flex align-items-center"><a href="{% url 'profile' top_posts.0.author.user.username %}" class="author d-flex align-items-center flex-wrap">
                <div class="avatar"><img src="{{top_posts.0.author.profile_picURL}}" alt="..." class="img-fluid"></div>
                <div class="title"><span>{{top_posts.0.author.name}}</span></div></a>
              <div class="date"><i class="icon-clock"></i>{{top_posts.0.date_published|date:"d M Y"}}</div>
              <div class="comments"><i class="icon-comment"></i>{{top_posts.0.comment_count}}</div>
            </footer>
          </div>
        </div>
      </div>
      <div class="image col-lg-5"><img src="{{top_posts.0.imageURL}}" alt="..."></div>
    </div>
    <!-- Post        -->
    <div class="row d-flex align-items-stretch">
      <div class="image col-lg-5"><img src="{{top_posts.1.imageURL}}" alt="..."></div>
      <div class="text col-lg-7">
        <div class="text-inner d-flex align-items-center">
          <div class="content">
            <header class="post-header">
              <div class="category"><a href="#">{{top_posts.1.category}}</a></div><a href="{% url 'post' top_posts.1.id %}">
                <h2 class="h4">{{top_posts.1.title}}</h2></a>
            </header>
            <p>{{top_posts.1.description|truncatechars:200}}</p>
            <footer class="post-footer d-flex align-items-center"><a href="{% url 'profile' top_posts.1.author.user.username %}" class="author d-flex align-items-center flex-wrap">
                <div class="avatar"><img src="{{top_posts.1.author.profile_picURL}}" alt="..." class="img-fluid"></div>
                <div class="title"><span>{{top_posts.1.author.name}}</span></div></a>
              <div class="date"><i class="icon-clock"></i>{{top_posts.1.date_published|date:"d M Y"}}</div>
              <div class="comments"><i class="icon-comment"></i>{{top_posts.1.comment_count}}</div>
            </footer>
          </div>
        </div>
      </div>
    </div>
    <!-- Post                            -->
    <div class="row d-flex align-items-stretch">
      <div class="text col-lg-7">
        <div class="text-inner d-flex align-items-center">
          <div class="content">
            <header class="post-header">
              <div class="category"><a href="#">{{top_posts.2.category}}</a></div><a href="{% url 'post' top_posts.2.id %}">
                <h2 class="h4">{{top_posts.2.title}}</h2></a>
            </header>
            <p>{{top_posts.2.description|truncatechars:200}}</p>
            <footer class="post-footer d-flex align-items-center"><a href="{% url 'profile' top_posts.2.author.user.username %}" class="author d-flex align-items-center flex-wrap">
                <div class="avatar"><img src="{{top_posts.2.author.profile_picURL}}" alt="..." class="img-fluid"></div>
                <div class="title"><span>{{top_posts.2.author}}</span></div></a>
              <div class="date"><i class="icon-clock"></i>{{top_posts.2.date_published|date:"d M Y"}}</div>
              <div class="comments"><i class="icon-comment"></i>{{top_posts.2.comment_count}}</div>
            </footer>
          </div>
        </div>
      </div>
      <div class="image col-lg-5"><img src="{{top_posts.2.imageURL}}" alt="..."></div>
    </div>
  </div>
</section>
<!-- Divider Section-->
<section style="background: url({% static 'img/divider-bg.jpg' %}); background-size: cover; background-position: center bottom" class="divider">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h4 style="">Thoughts are a reminder that there are infinite possibilities to what our life can be. This platform is a way for you to Express anything you that you think, from the littlest of things to ur most mindblowing relevations. Share your thoughts. Share your dreams.</h4><a href=".latest-posts" class="hero-link continue link-scroll">View More</a>
      </div>
    </div>
  </div>
</section>
<!-- Latest Posts -->
<section class="latest-posts"> 
  <div class="container">
    <header> 
      <h2>Latest from the blog</h2>
      <p class="text-big">Few of our latest posts that you wouldn't want to miss out on...</p>
    </header>
    <div class="row">

      {% for latest_post in latest_posts %}
      <div class="post col-md-4">
        <div class="post-thumbnail"><a href="{% url 'post' latest_post.id %}"><img style="height: 200px; width: 400px;" src="{{latest_post.imageURL}}" alt="..." class="img-fluid"></a></div>
        <div class="post-details">
          <div class="post-meta d-flex justify-content-between">
            <div class="date">{{latest_post.date_published}}</div>
            <div class="category"><a href="#">{{latest_post.category}}</a></div><br>
          </div><a href="{% url 'post' latest_post.id %}">
            <h3 class="h4">{{latest_post.title}}</h3></a>
          <p class="text-muted">{{latest_post.description|truncatechars:100}}</p>
        </div>
      </div>
      {% endfor %}

    </div>
  </div>
</section>
{% endblock content %}