{% extends 'blog/base.html' %}

{% load static %}

{% block content %}


<div class="container">
  <div class="row">
    <!-- Latest Posts -->
    <main class="posts-listing col-lg-8"> 
      <div class="container">
        <div style="text-align: center;padding-bottom: 30px;">
            <h3>You searched for '{{search_term}}'</h3>
        </div>
        {% if posts %}
        <div class="row">
          <!-- post -->
          {% for post in posts %}
          <div style="height: 400px;" class="post col-xl-6">
            <div class="post-thumbnail"><a href="{% url 'post' post.id %}"><img style="width: 400px; height: 200px;" src="{{post.imageURL}}" alt="..." class="img-fluid"></a></div>
            <div class="post-details">
              <div class="post-meta d-flex justify-content-between">
                <div class="date meta-last">{{post.date_published}}</div>
                <div class="category"><a href="#">{{post.category}}</a></div>
              </div><a href="{% url 'post' post.id %}">
                <h3 class="h4">{{post.title|truncatechars:50}}</h3></a>
              <p class="text-muted">{{post.description|truncatechars:100}}</p>
              <footer style="position: absolute; bottom: -10px; padding-top: 10px;" class="post-footer d-flex align-items-center"><a href="#" class="author d-flex align-items-center flex-wrap">
                  <div class="avatar"><img src="{{post.author.profile_picURL}}" alt="..." class="img-fluid"></div>
                  <div class="title"><span>{{post.author.name}}</span></div></a>
                <div class="date"><i class="icon-clock"></i>{{post.date_published|date:"d M Y"}}</div>
                <div class="comments meta-last"><i class="icon-comment"></i>{{post.comment_count}}</div>
              </footer>
            </div>
          </div>
          {% endfor %}
        </div>
        <!-- Pagination -->
        <nav aria-label="Page navigation example">
          <ul class="pagination pagination-template d-flex justify-content-center">
            {% if posts.has_previous %}
            <li class="page-item"><a href="?page={{ posts.previous_page_number }}" class="page-link"> <i class="fa fa-angle-left"></i></a></li>
            {% endif %}

            {% for num in posts.paginator.page_range %}
            <li class="page-item"><a href="?page={{ num }}" class="page-link {% ifequal num posts.number %} active {% endifequal %}">{{num}}</a></li>
            {% endfor %}
            {% if posts.has_next %}
            <li class="page-item"><a href="?page={{ posts.next_page_number }}" class="page-link"> <i class="fa fa-angle-right"></i></a></li>
            {% endif %}
          </ul>
        </nav>
        {% else %}
        <div style="text-align: center; padding-bottom: 30px;">
            <h4>Sorry, your search does not match anything...</h4>
        </div>
        {% endif %}
      </div>
    </main>
    <aside class="col-lg-4">
      <!-- Widget [Search Bar Widget]-->
      <div class="widget search">
        <header>
          <h3 class="h6">Search the blog</h3>
        </header>
        <form action="{% url 'search' %}" class="search-form">
          <div class="form-group">
            <input type="search" name="search" id="search" placeholder="What are you looking for?" value="{{search_term}}">
            <button type="submit" class="submit"><i class="icon-search"></i></button>
          </div>
        </form>
      </div>
      <!-- Widget [Latest Posts Widget]        -->
      <div class="widget latest-posts">
        <header>
          <h3 class="h6">Latest Posts</h3>
        </header>
        <div class="blog-posts"><a href="#">
          {% for latest_post in latest_posts %}
          <a href="{% url 'post' latest_post.id %}">
          <div class="item d-flex align-items-center">
            <div class="image"><img src="{{latest_post.imageURL}}" alt="..." class="img-fluid"></div>
            <div class="title"><strong>{{latest_post.title|truncatechars:45}}</strong>
              <div class="d-flex align-items-center">
                <div class="views"><i class="icon-eye"></i> {{latest_post.views}}</div>
                <div class="comments"><i class="icon-comment"></i>{{latest_post.comment_count}}</div>
              </div>
            </div>
          </div></a>
          {% endfor %}
      </div>
      <!-- Widget [Categories Widget]-->
      <div class="widget categories">
        <header>
          <h3 class="h6">Categories</h3>
        </header>
        <div class="item d-flex justify-content-between"><a href="#">Growth</a><span>12</span></div>
        <div class="item d-flex justify-content-between"><a href="#">Local</a><span>25</span></div>
        <div class="item d-flex justify-content-between"><a href="#">Sales</a><span>8</span></div>
        <div class="item d-flex justify-content-between"><a href="#">Tips</a><span>17</span></div>
        <div class="item d-flex justify-content-between"><a href="#">Local</a><span>25</span></div>
      </div>
      <!-- Widget [Tags Cloud Widget]-->
      <!-- <div class="widget tags">       
        <header>
          <h3 class="h6">Tags</h3>
        </header>
        <ul class="list-inline">
          <li class="list-inline-item"><a href="#" class="tag">#Business</a></li>
          <li class="list-inline-item"><a href="#" class="tag">#Technology</a></li>
          <li class="list-inline-item"><a href="#" class="tag">#Fashion</a></li>
          <li class="list-inline-item"><a href="#" class="tag">#Sports</a></li>
          <li class="list-inline-item"><a href="#" class="tag">#Economy</a></li>
        </ul>
      </div> -->
    </aside>
  </div>
</div>
{% endblock content %}